### Intellij ###
.idea/
*.iws
*.iml
/out/
.idea_modules/
atlassian-ide-plugin.xml

### Eclipse ###
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Code Recommenders
.recommenders/


### VisualStudioCode ###
.vscode

### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.coverprofile

# Folders
_obj
_test

# binaries
bin/

# Glide package manager
.glide
vendor/

# exclude tmp directory
tmp

# exclude code coverage merged results
coverage.txt
.DS_Store
*.html
*.test
!test/**/*.html
